.menu_container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 100px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-left: 0;
  background-color: pink;
}

a {
  color: white;
  text-decoration: none;
  padding: none;
}
 [class*="menu_item"]  {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  background-color: red;
  padding: 1em;

}
